{
    "presets": [ "es2015", "react" ],
    "plugins": [
        "syntax-async-functions",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-regenerator",
        "transform-runtime"
    ]
}
