.task-item
    position relative
    width 100%
    height 30px
    border-bottom 1px solid hsla( 0, 0%, 0%, .05)
    -webkit-user-select none

    &:last-child
        border-bottom none

.link
    -webkit-user-drag none
    display block
    height inherit
    padding 5px 20px 7px
    color #666
    font-size 13px
    text-decoration none

    &_new
        color #aaa

.active
    background hsla( 0, 0%, 0%, .05)
    color #1380ff
    pointer-events none

.hidden
    visibility hidden
