.container
    display flex
    flex 1
    background #fafafa

.list
    min-width 160px
    padding 20px 0
    background #f4f4f4
    border-right 1px solid #eee

.task-content
    flex 1

.stub
    text-align center

    padding 40px 0 50vh

    color #aaa
    font-size 13px
    font-weight 400
