.toolbar
    display flex
    justify-content space-between
    align-items center
    background #eee
    padding 8px 20px

.logo
    background #f7df1e url("../../images/favicon.png") no-repeat 4px center / 16px
    padding 1px 8px 0 24px
    font-size 13px
    line-height 22px
    border-radius 3px
    box-shadow 0 0 1px hsla( black, .15 ) inset
